<style>
  .style{
    border-bottom: ridge;
    padding-left: 5px;
    margin-left: 10px;
    float: bottom;
  }
  h3{
    padding-top: 9px;
  }

</style>

<%= div_for(tiny_book, :class => "style") do %>
  <h6><%= tiny_book.name %><br></h6>
  <p>Author: <%= tiny_book.author %></p>
      <%= link_to 'Remove Book', mark_as_added_book_path(tiny_book), remote: true, method: :post %>
<% end %>