<style>
  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border: 3px solid black;
  }
</style>

<div class="dropdown">

  <div class="sticky">
    <nav class="nav nav-pills nav-fill">
          <% @genres.each do |g| %>
        <a class="nav-item nav-link" href="http://localhost:3000/search?utf8=✓&q=<%=g.name%>&category=Search+by+Category"><b><%= g.name%>&nbsp;</b></a>
      <% end %>
    </nav>
  </div>
</div>
<%= render partial: @books,
             locals: {show_details_link: true}%>

  <div style="position: absolute; bottom: 5px">
    <ul class="pagination justify-content-end">
      <%= paginate @books %>
    </ul>

</div>
</div>
