<h1>Read Online Book Store</h1>
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000">Browse</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000">Search Book</a>
  </li>
</ul>
<h2>Description:</h2>
  <p>Read will be an online book store to purchase books. The eCommerce website will facilitate online payments and buying of books.</p>
  <img src="/assets/erd.PNG" height="400" alt="Image">
