<style>
  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: white;
    border: 3px solid black;
  }
</style>
<div class="sticky">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="http://localhost:3000/books"><b>All Books&nbsp;</b></a>
    <% @searchGenres.each do |g| %>
      <a class="nav-item nav-link" href="http://localhost:3000/search?utf8=✓&q=<%=g.name%>&category=Search+by+Category"><b><%= g.name%>&nbsp;</b></a>
    <% end %>
  </nav>
</div>
<% if(@category) %>
  <% if(@books_result.size == 0) %>
    <h2>No books on Sale Right Now</h2>
  <% else %>
    <%= render partial: @books_result,
               locals: {show_details_link: true}%>
  <% end %>
<% else %>
  <% if(@books_result.size == 0) %>
    <h2>No books on Sale Right Now</h2>
  <% else %>
    <%= render partial: @books_result,
               locals: {show_details_link: true}%>
  <% end %>

<% end %>